body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
  font-weight: bold;
}

/* nav bar; */
.navbar {
  padding: 0 0 4.5rem;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}


.colored-section {
  background-color: #4c956c;
  color: #fff;
}
.white-section {
  background-color: #fff;
}

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
#title .container-fluid {
  text-align: left;
  padding: 3% 15% 7%;
}

.container-fluid {
  padding: 7% 15% 7%;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}


/* features */
.iphone-rat-image {
  position: relative;
}

#features {
  background-color: #fff;
  position: relative;
}
.feature-title{
  font-size: 1.5rem;
}
.feature-box {
  padding: 5%;
}

.icon {
  color: #4c956c;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #346549;
}

/* testimonials */
#testimonials {
  background-color: #4c956c;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px 20px 50px;
}


/* press */
#press {
  background-color: #4c956c;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px;
}
